<h1>You are now booked!</h1>

<p>Hey <%= @passenger.name %></p>

<p>Your booking for flight <%= @flight.id %> is now complete. Your details are the following:</p>

<p>Departing airport: <%= @flight.from_airport.code %></p>
<p>Departing city: <%= @flight.from_airport.city %></p>
<p>Arriving airport: <%= @flight.to_airport.code %></p>
<p>Arriving city: <%= @flight.from_airport.city %></p>
<p>Departure time: <%= @flight.start_time.strftime("%I:%M %p") %></p>
<p>Departure date: <%= @flight.start_date%></p>
<p>Duration: <%= @flight.duration.seconds/1.hour %> hours</p>

<p>Thank you for choosing to travel with us and we hope you have a great trip!</p>