<% provide(:title, "Search Flights") %>

<h2 class="text-center">Flight Information</h2>

<div class="container-fluid">
	<div class="row">
		<div class="well col-md-4 col-md-offset-4">
			<h3>Search for a Flight</h3>
			<hr>
			<%= form_tag root_path, method: 'get'  do%>
			<%= hidden_field_tag :search %>
			
			<div class="col-md-6">
				<p>Departing from: <%= select_tag :depart_code, options_for_select(@airport_options) %></p>
				<p>Arriving in: <%= select_tag :arrive_code, options_for_select(@airport_options) %></p>
			</div>
			<div class="col-md-6">
				<p>Date: <%= select_tag :start_date, options_for_select(@flight_options) %></p>
				<p>Number of Passengers: <%= select_tag :passengers, options_for_select(@passengers) %> </p>	
			</div>
			
			<%= submit_tag "Search", :name => nil, class: "btn col-md-offset-10" %>
			<% end %>
		</div>
	</div>
</div>

<% if params[:search] %>
<div class="container-fluid">
	<div class="row">
		<div class="well col-md-4 col-md-offset-4">
			<h3>Search for times</h3>
			<hr>
			<%= form_tag new_booking_path, method: 'get'  do%>
			<table>
				<% @flights.each do |flight| %> 
     				<thead>
     				<tr>
     					<th width="50">Select</th>
     					<th width="50">Flight</th>
     					<th width="50">Date</th>
     					<th width="50">Time</th>
     					<th width="50">From</th>
     					<th width="50">To</th>
     					<th width="50">Duration</th>
     				</tr>
     				</thead>
     				<tbody>
        				<tr>
          					<td><%= radio_button_tag :flight_id, flight.id %></td>
          					<td><%= flight.id %></td>
          					<td><%= flight.start_date.strftime("%m/%d/%Y")  %></td>
          					<td><%= flight.start_time.strftime("%I:%M %p") %></td>
          					<td><%= flight.from_airport.code %></td>
          					<td><%= flight.to_airport.code %></td>
          					<td><%= distance_of_time_in_words(flight.duration) %></td>
   				     	</tr>      
   				   </tbody>
   				 <% end %>
   			</table>
			<%= hidden_field_tag :passengers, params[:passengers] %>
			<hr>
			<%= submit_tag "Continue", :name => nil, class: "btn btn-success col-md-offset-10" %>
			<% end %>
		</div>
	</div>
</div>
<% end %>