<% provide(:title, "Confirmation") %>

<div class="text-center">
	<h2>Ticket Conformation</h2>
	<p>Your ticket has now been confirmed</p>
	<p>Your booking id is <%= @booking.id %></p>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="well col-md-4 col-md-offset-4">
			<h3>Flight Details</h3>
			<hr>
			<table>
				<thead>
					<tr>
						<th width="50">Flight</th>
						<th width="50">Date</th>
						<th width="50">Time</th>
						<th width="50">From</th>
						<th width="50">To</th>
						<th width="50">Duration</th>
						<th width="50">Passengers</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @flight.id %></td>
    		      		<td><%= @flight.start_date.strftime("%m/%d/%Y")  %></td>
    		      		<td><%= @flight.start_time.strftime("%I:%M %p") %></td>
    		      		<td><%= @flight.from_airport.code %></td>
    		      		<td><%= @flight.to_airport.code %></td>
    		      		<td><%= distance_of_time_in_words(@flight.duration) %></td>
    		      		<td><%= @booking.passengers.length %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="well col-md-4 col-md-offset-4">
			<h3>Passenger Details</h3>
			<hr>
			<% passenger_num = 1 %>
			<% @booking.passengers.each do |passenger| %>
				<h4>Passenger #<%= passenger_num %></h4>
				<% passenger_num += 1 %>
				<p>Name: <%= passenger.name %></p>
				<p>Email: <%= passenger.email %></p>
				<hr>
			<% end %>
		</div>
	</div>
</div>